/* 画像を左右で中央ぞろえにする */
/* imgの親要素であるhome_photoのtext-alignをcenterにする */
.home_photo {
    text-align: center;
}

/* 画像の大きさを小さくする */
.home_photo img {
    width: 50%;
    max-height: 500px;
    object-fit: contain;
}
