figcaption {
    background-color: #222;
    color: #fff;
    /* border: 1px solid #222; */
    padding: 3px;
    text-align: center;
}

/* 中央揃え */
.recital_photo {
    text-align: center;
}

/* 画像の大きさを小さくする */
.recital_photo img {
    /* max-width: 600px; */
    object-fit: contain;
}